
footer{
    display: flex;
    width: 100%;
    background-color: #252525;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    padding: 20px 0;
    user-select: none;
}

footer p{
    color: #888888;
    margin: 10px 0;
    text-align: center;
}

footer img{
    width: 150px;
    margin-right: 20px;
    padding: 5px 10px;
    border-right: #888888 2px solid;
    
}

@media only screen and (max-width: 900px){
    footer{
        flex-direction: column;
    }

    footer img{
        border-right: none;
        border-bottom: #888888 2px solid; 
    }
}