.headerDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logoPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111110;
    padding: 7px 15px;

}

.logoPart img{
    width: 200px; 
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    color: white;
    font-weight:400;
    height: fit-content;
}

.navContainer a{
    text-decoration: none;
    color: white;
    width: 20%;
    margin: 0;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer a p{
    padding: 10px 0;
    margin: 0;
}

.navContainer form{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.navContainer form button{
    background-color: transparent;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.logoPart i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.logoPart button{
    background-color: transparent;
    border: none;
}

.logoPart button:hover > i{
    color: #81C332;
}

.navContainer form button:hover{
    color: #81C332;
}

.navContainer a:hover > *{
    color: #81C332;
    cursor: pointer;
    transition: 0.5s;
}

@media only screen and (max-width: 1100px){
    .navContainer p{
        width: 30%;
    }
}



@media only screen and (max-width: 1200px){
    .navContainer p{
        width: 30%;
    }

    .navContainer{
        flex-direction: column;
        width: 100%;
    }

    .navContainer > *{
        margin: 10px 0;
        width: 100%;
    }

    .navContainer a{
        width: 100%;
        align-items: center;
    }

    .navContainer i{
        display: none;
    }

    .navContainer button{
        margin: 0;
    }

    .navContainer form{
        flex-direction: column;
        width: 100%;
    }

    .navContainer button{
        width: 100%;
        margin: 10px 0;
    }
}