.modDiv{
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom: 50px;
    justify-content: space-between;
}

.modDiv:hover{
    transform: scale(102%);
    transition: 0.5s;
}

.modDiv{
    background-color: #E6E4E3;
}

.buttonOptions{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px){
    
    .modDiv{
        width: 33%;
    }

}

@media only screen and (max-width: 500px){

    .modDiv{
        width: 100%;
    }


}

.moreInfoBtn{
    background-color: #81C332;
    color: white;
}


.moreInfoBtn:hover, .deleteBtn:hover, .editBtn:hover{
    color: #202020;
}

.moreInfoBtn:hover{
    background-color: greenyellow;
}

.deleteBtn{
    background-color: darkred;
    color: white;
}

.editBtn{
    background-color: darkblue;
    color: white;
    margin-bottom: 0px;
}

.deleteBtn:hover{
    background-color: red;
}

.editBtn:hover{
    background-color: dodgerblue;
}


.optionBtn{
    width: 100%;
    font-weight: bolder;
    border: none;
    padding: 10px 0;
    margin: 5px 0;
    cursor: pointer;
}
